h1 {
    border-radius: 10px;
    padding: 20px;
}

 h1 { 
    width: 50%;
    padding: 12px;
    border: 10px inset blanchedalmond;
    box-sizing: content-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

body {
    background: url("https://i.pinimg.com/originals/d4/01/b2/d401b2877c5fae35b50f1f8181dad9a3.jpg");
    background-size: repeat;
    border-radius: 10px;
    padding: 20px;
    
}


a {
    text-decoration: none;
    color: blue;
}


.nav {
     font-size: 20px;
     margin: auto;
     padding: 0%;
     float: right;
     border-left: 1px solid black;
    }

.nav a {

    padding: 10px;
}

    

.container {
    float: initial;
    width: 500px;
    border-radius: 20px;
    padding: 20px;
    border: 10px inset blanchedalmond;

}

.Email {
    float: inherit;
    border-radius: 20px;
    padding: 20px;
}

.message {
    float: inherit;
    border-radius: 10px;
    background-color: aquamarine;
    padding: 20px;
    border: 1px solid black;
}

#blue {
    display: block;
}